fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
pydantic-settings
pydantic
httpx
psycopg2-binary
google-auth==2.58.0
requests==2.34.2
email-validator==2.3.0
python-multipart==0.0.32
